# Large / data files
Lframe_triangulate
slurm_run_job
*.pdf
*.PDF
*.mp4
*.MP4
*.avi
*.jpg
*.png
*.JPG
*.jpeg
*.pkl
*.h5
*.hdf5
*.npy
*.npz
*.pt
*.ckpt

*.sh

# Outputs
outputs/
data/

# Python junk
__pycache__/
**/__pycache__/
*.pyc
.ipynb_checkpoints/
**/.ipynb_checkpoints/


# Mac junk
.DS_Store
**/.DS_Store
